/* Common styles for both light and dark modes */
body {
  font-size: 16pt;
  text-align: center;
}

h1, h2, h3 {
  text-align: center;
  font-weight: bold;
}

/* Light mode styles */
body {
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}
